#headertext {
  font-size:100pt;
    border-bottom: solid;
}
#headertext2 {
  font-size:100pt;
  text-align: center;
  border-bottom: solid;
}
#hobbies {
  text-align: left;
  font-size: 15pt;
  border-top: solid;
}

#worldview {
  text-align: left;
  font-size: 15pt;
  border-top: solid;
}


#courses {
  text-align: left;
  font-size: 15pt;
  border-radius: 15px;
}

#coursesmain {
  background-color: #ffcd19;
  padding: 10px;
  text-align: left;
  position:absolute;
   top:0;
   bottom:-500px;
   left:0;
   right:0;
   z-index:-1; /* Remove this line if it's not going to be a background! */
}

#red{
  border-radius: 25px;
    border: 2px solid yellow;
    padding: 20px;
    width: 200px;
    height: 10px;
}

#orange{
  border-radius: 25px;
    border: 2px solid yellow;
    padding: 20px;
    width: 200px;
    height: 10px;
}

#yellow{
  border-radius: 25px;
    border: 2px solid yellow;
    padding: 20px;
    width: 300px;
    height: 10px;
}

#green{
  border-radius: 25px;
    border: 2px solid yellow;
    padding: 20px;
    width: 200px;
    height: 10px;
}

#blue{
  border-radius: 25px;
    border: 2px solid yellow;
    padding: 20px;
    width: 200px;
    height: 10px;
}

#indigo{
  border-radius: 25px;
    border: 2px solid yellow;
    padding: 20px;
    width: 200px;
    height: 10px;
}

#violet{
  border-radius: 25px;
    border: 2px solid yellow;
    padding: 20px;
    width: 200px;
    height: 10px;
}

#grey{
  border-radius: 25px;
    border: 2px solid yellow;
    padding: 20px;
    width: 300px;
    height: 10px;
}

#hobbiesmain {
  background-color: #fcff50;
  padding: 10px;
  text-align: center;
  position:absolute;
   top:0;
   bottom:-150px;
   left:0;
   right:0;
   z-index:-1; /* Remove this line if it's not going to be a background! */
}

#worldviewmain {
  background-image: url("http://media.istockphoto.com/photos/beautiful-sky-with-white-cloud-background-picture-id517897328?k=6&m=517897328&s=170667a&w=0&h=peqy8c1rFouhm7jd4BbpB-EbRB6fKEPeYi4cOlaH8oc=");
  padding: 10px;
  text-align: center;
  position:absolute;
   top:0;
   bottom:-500px;
   left:0;
   right:0;
   z-index:-1; /* Remove this line if it's not going to be a background! */
}

.myview {
  padding: 10px;
  border-style: dotted;
  border-radius: 20px;
}
#target {
  float:up
}
#header {
  background-color: #F9F5E2;
  padding: 10px;
  text-align: center;
  position:absolute;
   top:0;
   bottom:-500px;
   left:0;
   right:0;
   z-index:-1; /* Remove this line if it's not going to be a background! */
}
.circle{

  width: 100px;
  padding: 50px 0;
  line-height: 0;
  margin: 60px auto;
  background: pink;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: 1s;
  margin-left: 170px;
  margin-top: 34px;
}

.circle:hover {
  background: salmon;
  transform: rotate(360deg);
}

.circle2{

  width: 100px;
  padding: 50px 0;
  line-height: 0;
  margin: 60px auto;
  background: pink;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: 1s;
  margin-left: 900px;
  margin-top: -167px;
}

.circle2:hover {
  background: salmon;
  transform: rotate(360deg);
}

#nav {
  margin-left;
}


html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
  }
  body{
      height:100%; /* force the BODY element to match the height of the HTML element */
  }
